<h2>Editing page <%= @page.title %></h2>

<%= error_messages_for :page %>

<% form_for :page, @page, :url=>super_simple_page_path(@page), :html=>{:method=>:put} do |f| %>
 	
	<%= render :partial => 'admin/pages/form', :locals=>{:f=>f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
	<%= textile_editor_initialize -%>

<% end %>

<%= link_to 'Show', super_simple_page_path(@page) %> |
<%= link_to 'Back', super_simple_pages_path %>

<div id="preview">
</div>