<h1>New page</h1>

<%= error_messages_for :page %>

<% form_for :page, @page, :url=>super_simple_pages_path, :html=>{:method=>:post} do |f| %>
	
	<%= render :partial => 'admin/pages/form', :locals=>{:f=>f} %>

  <p>
    <%= f.submit "Create" %>
  </p>

	<%= textile_editor_initialize -%>
	
<% end %>

<%= link_to 'Back', super_simple_pages_path %>


<div id="preview">
</div>
